<nav>
  <div id="sidebar_head">
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo" height="100px" width="100px"/>
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a></h2>
  </div>
  <div id="bio">
    <p>This is my personal website where I share things sometimes in English, sometimes in French.</p>
    <p>
      Contact me by <a href="mailto:romain@taprest.fr"><i class="fas fa-envelope-square"></i> email</a>,
      or better: using <a href="https://delta.chat/"><i class="fas fa-comment"></i> DeltaChat</a>. I’m also on Matrix : <code>@romain.taprest:matrix.domainepublic.net<code>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
